{% set attributes = attributes.addClass('site-branding') %}
{% if site_name %}
<h1 id="branding">
    <a href="{{ path('<front>') }}" title="{{ 'Home'|t }}" rel="home" class="brand screen-reader-text">
        {{ site_name }}</a>
    {% if ssite_slogan %}
    <small class="slogan">{{ site_slogan }}</small>
    {% endif %}
</h1>
{% endif %}