@charset "UTF-8";
@import "../bootstrap/functions";
@import "../bootstrap/variables";

// Default Variables

// Slick icon entity codes outputs the following
// "\2190" outputs ascii character "←"
// "\2192" outputs ascii character "→"
// "\2022" outputs ascii character "•"

.slick-list {
    .slick-loading & {
        background: $white url("../../images/ajax-loader.gif") center center no-repeat;
    }
}


.slick-prev,
.slick-next {
    z-index: 999 !important;
    position: absolute;
    display: block;
    height: 2rem;
    width: 2rem;
    line-height: 0px;
    font-size: 0px;
    cursor: pointer;
    background: transparent;
    color: transparent;
    top: 50%;
    -webkit-transform: translate(0, -50%);
    -ms-transform: translate(0, -50%);
    transform: translate(0, -50%);
    padding: 0;
    border: none;
    outline: none;
    &:hover, &:focus {
        outline: none;
        background: transparent;
        color: transparent;
        &:before {
            opacity: $slick-opacity-on-hover;
        }
    }
    &.slick-disabled:before {
        opacity: $slick-opacity-not-active;
    }
    &:before {
        font-family: 'slick';
        font-size: 2rem;
        line-height: 1;
        color: $slick-arrow-color;
        opacity: $slick-opacity-default;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
    }
}

.slick-prev {
    left: 2rem;
    [dir="rtl"] & {
        left: auto;
        right: 2rem;
    }
    &:before {
        content: $slick-prev-character;
        [dir="rtl"] & {
            content: $slick-next-character;
        }
    }
}

.slick-next {
    right: 2rem;
    [dir="rtl"] & {
        left: 2rem;
        right: auto;
    }
    &:before {
        content: $slick-next-character;
        [dir="rtl"] & {
            content: $slick-prev-character;
        }
    }
}

/* Dots */

.slick-dotted.slick-slider {
    margin-bottom: 30px;
}

.slick-dots {
    position: absolute;
    bottom: $slick-dot-bottom-pos;
    list-style: none;
    display: block;
    text-align: center;
    padding: 0;
    margin: 0;
    width: 100%;
    li {
        position: relative;
        display: inline-block;
        height: 20px;
        width: 20px;
        margin: 0 5px;
        padding: 0;
        cursor: pointer;
        button {
            border: 0;
            background-color: transparent;
            display: block;
            height: 20px;
            width: 20px;
            outline: none;
            line-height: 0px;
            font-size: 0px;
            color: transparent;
            padding: 5px;
            cursor: pointer;
            &:hover, &:focus {
                outline: none;
                &:before {
                    opacity: $slick-opacity-on-hover;
                }
            }
            &:before {
                position: absolute;
                top: 0;
                left: 0;
                content: $slick-dot-character;
                width: 20px;
                height: 20px;
                font-family: 'slick';
                font-size: $slick-dot-size;
                line-height: 20px;
                text-align: center;
                color: $slick-dot-color;
                opacity: $slick-opacity-not-active;
                -webkit-font-smoothing: antialiased;
                -moz-osx-font-smoothing: grayscale;
            }
        }
        &.slick-active button:before {
            color: $slick-dot-color-active;
            opacity: $slick-opacity-default;
        }
    }
}

.carousel-caption{

    position: absolute;
    right: (100% - $carousel-caption-width) / 2;
    bottom: 6rem;
    left: (100% - $carousel-caption-width) / 2;
    z-index: 10;
    padding-top: 20px;
    padding-bottom: 20px;
    color: $carousel-caption-color;
    text-align: center;

    background-color: $teal;
    
    h2 {
        padding: 3rem;
        width: 30rem;
    /*
        background: -moz-linear-gradient(70deg, $indigo 0%, $indigo 90%, $blue 90%, $blue 100%);
        background: -webkit-gradient(left bottom, right top, color-stop(0%, $indigo), color-stop(90%, $indigo), color-stop(90%, $blue), color-stop(100%, $blue));
        background: -webkit-linear-gradient(70deg, $indigo 0%, $indigo 90%, $blue 90%, $blue 100%);
        background: -o-linear-gradient(70deg, $indigo 0%, $indigo 90%, $blue 90%, $blue 100%);
        background: -ms-linear-gradient(70deg, $indigo 0%, $indigo 90%, $blue 90%, $blue 100%);
        background: linear-gradient(70deg, $indigo 0%, $indigo 90%, $blue 90%, $blue 100%);
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff9900', endColorstr='#ffea00', GradientType=1 );
    */
    }

    a {
        color: $white;
    }

}
